<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NORTHWEST MEMORIAL HOSPITAL</title>
    <link rel="shortcut icon" href="css/images/web.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/estilos.css">

    <meta name="theme-color" content="#2091F9">

    <meta name="title" content="Aprende CSS desde cero">
    <meta name="description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">


    <meta property="og:type" content="website">
    <meta property="og:url" content="https://alexcgdesign.github.io">
    <meta property="og:title" content="Aprende CSS desde cero">
    <meta property="og:description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">
    <meta property="og:image" content="https://alexcgdesign.github.io/images/css.jpg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.jordanalex.com/">
    <meta property="twitter:title" content="Aprende CSS desde cero">
    <meta property="twitter:description"
        content="Hola, soy una descripción que verás cuando busques algo de mi temática en Google.">
    <meta property="twitter:image" content="https://alexcgdesign.github.io/images/css.jpg">
</head>

<body>
    
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">NORTHWEST MEMORIAL HOSPITAL</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li class="nav__items">
                    <a href="#" class="nav__links">SALUD</a>
                    
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">PERSONA</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">EMPRESA</a>
                </li>
                <li class="nav__items">
                    <a href="#" class="nav__links">SOBRE EL HOSPITAL</a>
                </li>

                <img src="css/images/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="css/images/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">EN EL NORTHWEST MEMORIAL CUIDAMOS DE TI</h1>
            <p class="hero__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid laudantium provident obcaecati nulla animi? Eligendi tenetur, reiciendis accusantium, necessitatibus aperiam saepe inventore veniam facilis, soluta rerum laboriosam incidunt odio voluptates!</p>
            <a href="#" class="cta">¡infórmate aquí de las ultimas novedades del COVID-19! </a>
        </section>
    </header>

    <main>
        <section class="container about">
                <h2 class="subtitle">¿CÓMO PODEMOS AYUDARTE?</h2>
            <p class="about__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores assumenda neque iure repellendus! Ipsum ipsam iure inventore omnis explicabo rerum nostrum, corrupti excepturi quas atque blanditiis iusto placeat sed ab?</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="css/images/cruz.svg" class="about__icon">
                    <h3 class="about__title">TERAPIAS</h3>
                    <p class="about__paragrah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>

                <article class="about__icons">
                    <img src="css/images/capsula.svg" class="about__icon">
                    <h3 class="about__title">SUBSIDIOS</h3>
                    <p class="about__paragrah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>

                <article class="about__icons">
                    <img src="css/images/code.svg" class="about__icon">
                    <h3 class="about__title">CITAS</h3>
                    <p class="about__paragrah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae tempore
                        porro eius facilis?</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">EL AGENDAMIENTO PARA MEDICO GENERAL ESTA DISPONIBLE POR LOS SIGUIENTES 2 MESES</h2>
                    <p class="knowledge__paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi,
                        aliquam nemo in facere suscipit at delectus unde labore ad officia iste accusantium eaque
                        aperiam laborum est voluptate totam? Modi, obcaecati?</p>
                    <a href="forms/formulariocita.html" class="cta">ADEGENDA AHORA</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="css/images/calendario.jpg" class="knowledge__img">
                </figure>
            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">OBTEN TU PLAN COMPLEMENTARIO</h2>

            <div class="price__table">
                <div class="price__element">
                    <p class="price__name">PLAN</p>
                    <h3 class="price__price">BASICO</h3>

                    <div class="price__items">
                        <p class="price__features">Desde $53.621 </p>
                        <p class="price__features">mensual</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


            <div class="price__element price__element--best">
                    <p class="price__name">PLAN</p>
                    <h3 class="price__price">PLUS</h3>

                    <div class="price__items">
                        <p class="price__features">Desde $82.345 mensual</p>
                        <p class="price__features">mensual</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


            <div class="price__element">
                    <p class="price__name">PLAN</p>
                    <h3 class="price__price">PREFERENCIAL</h3>

                    <div class="price__items">
                        <p class="price__features">Desde $100.197 </p>
                        <p class="price__features">mensual</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>


            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <img src="css/images/leftarrow.svg" class="testimony__arrow" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle"> Doctora Ana Maria Sanchez... <span class="testimony__course">CARDIOLOGIA</span></h2>
                        <p class="testimony__review">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse dolorem quae ab consequatur nostrum repudiandae quisquam ut ullam possimus iure vero explicabo, facere aspernatur odit distinctio laudantium corporis nam sapiente.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="css/images/persona1.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Doctora Alejandra Perez Martinez... <span class="testimony__course">Cirugía general</span></h2>
                        <p class="testimony__review">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore praesentium suscipit, eligendi repudiandae porro quibusdam nam tempora nemo nesciunt inventore fugiat iste ipsa, dolorum minus, aliquam fuga voluptas voluptatibus voluptatem?</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="css/images/face2.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Doctor Manuel Cortez Pinzon... <span class="testimony__course">Gastroenterología</span></h2>
                        <p class="testimony__review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolore ducimus dolorum autem possimus nemo est voluptatibus? Sequi pariatur fugiat quod! Ab, amet? Nemo, debitis incidunt sapiente cum dolores harum.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="css/images/face3.jpg" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="4">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Medico General Kevin Ramirez Fandiño... <span class="testimony__course">Ginecología y obstetricia</span></h2>
                        <p class="testimony__review">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, fugit blanditiis. Ab voluptatem provident possimus ipsa ex, fugiat, nemo cupiditate fugit laudantium magni temporibus aperiam eius. Magni debitis laboriosam nesciunt!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="css/images/face4.jpg" class="testimony__img">
                    </figure>
                </section>


                <img src="css/images/rightarrow.svg" class="testimony__arrow" id="next">
            </div>
        </section>

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>
            <p class="questions__paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, porro
                doloribus neque perspiciatis sapiente fuga.</p>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Como funciona el hospital?
                            <span class="questions__arrow">
                                <img src="css/images/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                            eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                            nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                            quam atque?</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Qué especialidades ofrese el hospital?
                            <span class="questions__arrow">
                                <img src="css/images/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                            eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                            nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                            quam atque?</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿donde estan ubicadas las diferentes cedes del hospital?
                            <span class="questions__arrow">
                                <img src="css/images/arrow.svg" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                            facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                            eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                            amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                            nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                            quam atque?</p>
                    </div>
                </article>
            </section>

            <section class="questions__offer">
                <h2 class="subtitle">Transacciones Salud</h2>
                <p class="questions__copy">Ingresa con tus credenciales al portal de Transacciones Salud para gestionar tus citas, conocer tus resultados de laboratorio y mucho más.</p>
                <a href="#" class="cta">agenda Ya</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">NORTHWEST MEMORIAL HOSPITAL</h2>

                <ul class="nav__link nav__link--footer">
                    
                    <li class="nav__items">
                 
                        <p><h3>Bogotá: 601 3077001 Línea nacional: 01 8000 96 7070</p></h3><li>
                        <p><h3><li> Línea de atención EPS Bogotá y Cundinamarca: 601 4441234</p></h3></li>

                        <p><h3><li>Línea de atención Covid y Viruela Símica 601 3077124</p></h3></li>
                        <ul>
                
                                <ul class="nav__link nav__link--footer">
                                    <li class="nav__items">
                                        <a href="#" class="nav__links">Inicio</a>
                                    </li>
                                    <li class="nav__items">
                                        <a href="#" class="nav__links">Acerca de</a>
                                    </li>
                                    <li class="nav__items">
                                        <a href="#" class="nav__links">Contacto</a>
                                    </li>
                                    <li class="nav__items">
                                        <a href="#" class="nav__links">Blog</a>
                                    </li></ul>
                </ul>
            </nav>

            <form class="footer__form" action="https://formspree.io/f/mknkkrkj" method="POST">
                <h2 class="footer__newsletter">SERVICIO AL CLIENTE</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input type="submit" value="enviar" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="css/images/facebook.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="css/images/twitter.svg" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="css/images/youtube.svg" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">NORTHWEST MEMORIAL HOSPITAL &copy;</h3>
        </section>
    </footer>

    <script src="./js/slider.js"></script>
    <script src="./js/questions.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>