<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <title>INICIO SESION</title>
         <link rel="stylesheet" href="registro.css">	
    </head>
    <body>
    
    <div class="caja1">
            <div class="botondeintercambiar">
                <div id="btnvai"></div>
                 <button type="button" class="botoncambiarcaja" onclick="loginvai()" id="vaibtnlogin">Login</button>
            </div>

   <form method="post" action="registrar.php" id="frmregistrar" class="grupo-entradas">
                <div class="ub1">&#128273; DOCUMENTO </div>
                <input type="text" name="txtusuario2" placeholder="Ingresar documento usuario">
                <div class="ub1">&#128274; NOMBRE </div>
                <input type="text" name="txtusuario2" placeholder="Ingresar apellido usuario">
                <div class="ub1">&#128274; APELLIDO </div>
                <input type="text" name="txtusuario2" placeholder="ingresar correo usuario">
                <div class="ub1">📧; CORREO </div>
                <input type="text"  name="txtusuario2" placeholder="Ingresar usuario">
                <div class="ub1">&#128274; INGRESAR PASSWORD</div>
            
    
    
    <div class="ub1">
    <input type="checkbox" onclick="verpassword()" >Mostrar contraseña
     </div>

    </select>
    
    <div ailign ="center">
    <input type="submit" value="Ingresar">
    
    <input type="reset" value="Limpiar">
    </div>
    </form>
    

           
  